{% extends 'base.html.twig' %}

{% block title %}{{ post.title }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>Title: {{ post.title }}</h1>
        <p>Content: {{ post.body }}</p>
        <h3>Category: <a href="{{ path('posts-by-category', {slug: category.slug}) }}">{{ category.name }}</a></h3>
        <h3>Tags:
            {% for tag in tags %}
                <a href="{{ path('posts-by-tag', {slug: tag.slug}) }}">{{ tag.name }}</a>
            {% endfor %}
        </h3>
        <h4>Published at: {{ post.createdAt | date("Y-m-d") }}</h4>
        <h4>Add Comments:</h4>
        {{ render(controller('App\\Controller\\PostController::commentForm', {'id': post.id})) }}
        <h4>Comments: </h4>
        {% for comment in post.comments %}
            <p>
                {{ comment.message }}
                {{ comment.publishedAt | date("Y-m-d") }}
            </p>
        {% endfor %}

    </div>
{% endblock %}